.friends_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.item_friend {
    flex: 0 0 450px;
    margin-top: 55px;
    border: 2px dashed green;
    margin-right: 10px;
}

.title {
    font-size: 1.6rem;
    font-style: italic;
    font-weight: normal;
    text-align: center;
}
.photo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.block_friend {
    display: flex;
    justify-content: space-around;
}
.friend_info {
    align-self: center;
}

.friend_info > div {
    margin: 10px 0;
}
.friend_info span {
    font-size: 1.2rem;
    color: green;
}
.user_name {
    text-align: center;
    font-size: 1.3rem;
    font-style: italic;
    color: tomato;

}