
.app_wrapper {
  max-width: 1200px;
  height: 100vh;
  display: grid;
  margin: 10px auto 0;
  grid-template-areas: "head head"
                       "nav cont";
  grid-template-rows: 110px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap :5px;
  background-color: lightgray;

                      
}
.app_wrapper_content {
  grid-area: cont;
  overflow-y: auto;
  background-color: #F3E4A6;
}

  

